<html>
<head>
    <title>UPDATE CAR DETAILS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h3 align="center">UPDATE CAR DETAILS</h3><br><br>
<form method = "post" action = "/view_car/<%= car._id%>/update">
<div> Car Model <input type="text" name="car[make]" value = "<%= car.make %>" required></div><br>
<div> Car Number <input type="text" name="car[num]" value = "<%= car.num %>" required></div><br>
<div> Car Image <input type="text" name="car[image]" value = "<%= car.image %>" required></div><br>
<div>Fuel Type <input type="text" name="car[fuel_type]" value = "<%= car.fuel_type %>" required></div><br>
<div>Aspiration <input type="text" name="car[aspiration]" value = "<%= car.aspiration %>" required></div><br>
<div>Number of Doors <input type="text" name="car[num_of_doors]" value = "<%= car.num_of_doors %>" required></div><br>
<div>Body Style <input type="text" name="car[body_style]" value = "<%= car.body_style %>" required></div><br>
<div>Drive Wheels <input type="text" name="car[drive_wheels]" value = "<%= car.drive_wheels %>" required></div><br>
<div>Engine Location <input type="text" name="car[engine_location]" value = "<%= car.engine_location %>" required></div><br>
<div> Rent per day<input type="value" name="car[rent]" value = "<%= car.rent %>" required></div><br>
<input type="submit" value ="submit">
</form>
</div>


</body>

</html>